.login {

    margin-bottom: 7px;
    display: flex;
    justify-content: end;
    align-items: end;
    flex: 1;
    margin-bottom: 10px;
    width: 100%;

}

.fa-solid {
    cursor: pointer;

}

.fa-user,
.fa-cart-shopping {
    margin-right: 40px;
    transition-timing-function: ease-in-out;
    transition: .4s;
    color: black;

}



.fa-user:hover,
.fa-cart-shopping:hover {
    border-radius: 50%;
    background-color: rgb(132, 139, 139);
    padding: 15px;
    opacity: 0.8;

}

.flex-rightside {
    display: flex;
    width: 100%;
}




@media only screen and (max-width: 600px) {}